<div class="cards">
<button mat-fab class="card" (click)="goto(card.url)" matTooltipPosition="below" [matTooltip]="card.name" *ngFor="let card of cards$ | async"><img alt="{{card.name}}" height="32" width="32" src="{{card.iconUrl}}" /></button>
</div>

<div style="display:flex;">
  <div class="issues" *ngIf="showIssues$ | async">
    <div *ngFor="let issue of myIssues$ | async">
      <a href="{{issue.url}}">{{issue.title}}</a><br />
      <span>#{{issue.number}}</span>&nbsp;&nbsp;<span *ngFor="let label of issue.labels.nodes" class="label" [ngStyle]="{'background-color': '#' + label.color}"><span [ngStyle]="{'color': '#' + label.color}">{{label.name}}</span></span>
    </div>
  </div>
  <div class="issues" *ngIf="showPrs$ | async">
    <div *ngFor="let issue of prs$ | async">
      <a href="{{issue.url}}">{{issue.title}}</a><br /><span>{{issue.author.login}} - {{issue.files.totalCount}} files</span>
    </div>
  </div>
</div>

<div class="time">{{time$ | async}}<span class="date">{{date$|async}}</span></div>
